<html>
	<head>
		<title>Training - RoR</title>
	</head>
	<body>
		<header>
			<h1>Good Bye !</h1>
		</header>
		<section>
			<p>
				GOOD BYE CONTENT HERE !
			</p>
		</section>
		<footer>
			<%= link_to "back", say_hello_path %>
			<%= a, b = 1, 2 %>
			<%= 1+2 %>
			<%= "CoW" + "BoW" %>
			<%= 2.hour.from_now %>
			<br />
			<hr />
			<% @files = Dir.glob('*') %>
			<ul>
			<% for file in @files %>
				<li>file name is: <%= file %></li>
			<% end %>
			</ul>
		</footer>
	</body>
</html>