<html>
	<head>
		<title>Training - RoR</title>
	</head>
	<body>
		<header>
			<h1>This is HEADING</h1>
			<span>-- tag line --</span>
		</header>
		<section>
			<p>
				<%= "Hello, World!" %> <br/>
				<%= @hello %> <br />
				<% [2,4,6,8,4,2,5].each do |number| %>
					<%= number %>
				<% end %><br />
			</p>
		</section>
		<footer>
			It is <%= @time%>
			<%= link_to "Bye!", say_goodbye_path %>
		</footer>
	</body>
</html>