<html>
	<head>
		<title>Index</title>
	</head>
	<body>
		<header>
			<h1>Admin Index Page</h1>
		</header>
		<section>
			<%= raw(welcome_text) %>
			<br />
			<%= raw(restriction_add) %>
			<% @articles.each do |a| %>
				<section>
					<h4><%= a.title %></h4>
					<p><%= a.body %></p>
					<br />
					<%= raw(restriction_edit) %>
					<br />
					<span>Writer : <%= a.user.first_name %></span>	
					<hr />
				</section>
			<% end %>
		</section>
		<footer>
      == &nbsp; Walden Global Service 2012==
		</footer>
	</body>
</html>