<html>
	<head>
		<title>Edit</title>
	</head>
	<body>
		<header>
			<h1>Edit Page</h1>
		</header>
		<section>
      <section>
        <%= form_for @article do |f| %>  
          Title : <%= f.text_field :title %> 
          Content : <%= text_area :article, :body %>
          <%=f.submit :update%>
        <% end %>
      </section>
    </section>
		<footer>
      == &nbsp; Walden Global Service 2012==
		</footer>
	</body>
</html>