<html>
	<head>
		<title>Index</title>
	</head>
	<body>
		<header>
			<h1>Index Page</h1>
			<%= link_to "Admin", admin_articles_path %>
		</header>
		<section>
			<%= raw(welcome_text) %>
			<%= flash[:notice] %>
			<br />
			<%= raw(restriction_add) %>
			<% @articles.each do |a| %>
				<section>
					<h4><%= link_to a.title, article_path(a.id) %></h4>
					<p><%= a.body %></p>
					<br />
					<% if session[:user_id].to_i == a.user_id %>
					  
						<% if current_user %>
						  <%= link_to "Edit", edit_article_path(a.id) %>
							<%= link_to "Delete", article_path(a.id), :method => :delete, :confirm => "Are you sure?" %>
						<% end %>
					<% else %>
					<% end %>
					<br />
					<span>Writer : <%= a.user.first_name %></span>	
					<hr />
				</section>
			<% end %>
		</section>
		<footer>
      == &nbsp; Walden Global Service 2012==
		</footer>
	</body>
</html>