<html>
  <head>
    <title>New</title>
  </head>
  <body>
    <header>
      <h1>New Page</h1>
    </header>
    <section>
      <%= flash[:notice] %>
      <%= flash[:error] %>		
      <% #if @article.errors.any? %>
        <!-- <div id="errorExplanation">
          <h2>
            <%#= pluralize(@article.errors.count, "error") %> prohibited this user from being saved:
          </h2>
          <ul>
						
            <% #@article.errors.full_messages.each do |msg| %>
              <li><%#= msg %></li>
            <% #end %>
          </ul>
        </div> -->
      <% #end %>
      <%= form_for @article do |f| %>  
        Title : <%= f.text_field :title %> 
        Content : <%= text_area :article, :body %>
				<%= hidden_field :article, :user_id, :value => current_user.id %>
        <%=f.submit :new%>
      <% end %>
     </section>
    <footer>
      == &nbsp; Walden Global Service 2012==
    </footer>
  </body>
</html>